Source: hsn2-object-store-mongodb
Section: unknown
Priority: optional
Maintainer: CERT Polska <info@cert.pl>
Build-Depends: debhelper (>= 8.0.0), maven
Standards-Version: 3.9.3

Package: hsn2-object-store-mongodb
Architecture: all
Depends: ${misc:Depends}, mongodb-server
Description: HSN2 Object Store Component (MongoDB).